<h1>Satheesh Angular Test</h1>
<app-sample></app-sample>
<app-sample2></app-sample2>
<!---->
<app-basic-variables></app-basic-variables>
<app-angular004-pipes></app-angular004-pipes>
<app-angular005-structural-directives></app-angular005-structural-directives>

<a routerLink="/">Home</a> | <a routerLink="/about-me">About</a> | <a routerLink="/my-services">Service</a> | <a routerLink="/contact-me">Contacts</a>
| <a routerLink="/lazyloading-module/lazyservices-parent">Lazy service parent</a>
<router-outlet></router-outlet>